<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emotion Survey</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="Title">
        <h1>Project Proposal</h1>

        <div class="About">

            <p>
                This project starts with a simple question: do we really understand emotions, or do we only recognize
                them?
            </p>

            <p>
                I believe that emotion is not universal, and recognition is not the same as understanding. Many systems
                today try to define emotions through facial expressions or fixed categories. However, emotions are often
                more personal and complex than those simplified labels.
            </p>

            <p>
                The reason I am doing this project is to explore how people actually feel when they are not guided by
                predefined answers. Instead of choosing from given options, users are asked to describe their emotions
                in their own words and reflect on them.
            </p>

            <p>
                What I am hoping for in this project is not to find a correct answer, but to reveal differences in
                perception. By collecting responses, I want to show that emotions are shaped by personal experiences,
                memories, and context, rather than being something fixed or universal.
            </p>

            <p>
                Ultimately, this project is about creating a moment of reflection. I hope users become more aware of
                their own emotions and understand that feeling something is not the same as fully understanding it.
            </p>

        </div>
    </div>

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>