<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Thank You</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="thankyou-container">
        <h1>Thank You!</h1>
        <p class="message">You have completed all the surveys.</p>
        <p class="message">Thank you for taking part in this experience. </p>
        <p class="message"> Your responses show that emotion is not universal, and recognition does not always mean
            understanding. Each
            interpretation is shaped by your own memories, context, and perception. </p>
        <p class="message"> <b>The images did not give you meaning, you gave meaning to them.</b> </p>
        <p class="message"> This project exists to explore that space between what we see and what we feel. </p>
        <a class="portfolio-link" href="https://www.chanfolio.com/" target="_blank">Portfolio Website &#124;
            ChanFolio</a>
        <br>
        <br>
        <button id="homeBtn">Go Back Home</button>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>